body{
    font-family: "Arial", monospace;
    text-align: center;
}

#myButton{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(50, 168, 96);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#myLabel{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}